/*в скрипті треба прописати
$('.burger').on('click', function () {
    $(this).toggleClass('active');
    $('ul').toggleClass('active');
});
*/

header .burger {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .burger span {
    width: 40px;
    height: 1px;
    background-color: #fff;
    position: relative;
    transition: all .4s;
}

header .burger.active span {
    width: 0;
}

header .burger span::before,
header .burger span::after {
    content: '';
    width: 40px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 0;
    transition: all .4s;
}

header .burger span::before {
    transform: translateY(-9px) translateX(-50%);
}

header .burger.active span::before {
    transform: translateY(0) translateX(-50%) rotate(45deg);
}

header .burger span::after {
    transform: translateY(9px) translateX(-50%);
}

header .burger.active span::after {
    transform: translateY(0) translateX(-50%) rotate(-45deg);
}


/* А потом в медиа запросе */

@media screen and (max-width:992px) {
    header ul.active {
        transform: translateX(0);
    }
    header .burger.active span {
        width: 0;
    }
    header .burger.active span::before {
        transform: translateY(0) translateX(-50%) rotate(45deg);
    }
    header .burger.active span::after {
        transform: translateY(0) translateX(-50%) rotate(-45deg);
    }
}